<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>Body Mass Index</h1>
  <div id="app">
    <span>Waga: </span>
    <input type="text" v-model="mass"> kg<br>
    <span>Wzrost: </span>
    <input type="text" v-model="height"> cm <br>
    <label>Wskaznik BMI {{bmi}}</label>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        mass : 0,
        height: 0
      },
      computed: {
        bmi: function () {
          if(this.height == 0)
          {
            return 0;
          }
          else
          {
            return this.mass * 100 * 100/ (this.height*this.height);
          }
        }
      }
    });
  </script>

</body>
</html>